= render @location

%br/
%div{:style => "display: flex"}
  = link_to "Back", locations_path, class: "btn scase pr-btn", style: "width: 25%"
  - if current_user.admin?
    = link_to "Edit", edit_location_path(@location), class: "btn scase pr-btn", style: "width: 25%"
    \#{link_to "Destroy", @location, class: "btn scase pr-btn", style: "width: 25%", data: { turbo_method: :delete, 'turbo-confirm': 'Are you shure?'}}
%br/


