%h3 Izumo, Shimane
.container-fluid.bg-light.my-6.mt-0{:style => "opacity: 0.7"}
  .container
    .row.align-items-center.justify-content-center
      .col-lg-6.py-6.pb-0.pt-lg-0
        .d-flex.align-items-center.justify-content-center
          %button.btn-play{"data-bs-target" => "#videoModal", "data-bs-toggle" => "modal", "data-src" => "https://www.youtube.com/watch?v=jM-aZvKzkhU&ab_channel=IzumoJAPAN", :type => "button"}
            %span
          %h5.ms-4.mb-0.d-none.d-sm-block
          
%strong History
%p Izumo Taisha is the oldest Shinto shrine in Japan. In 2008, the holy area was open to the public from 1 August until August 17, after which extensive renovation work began. The nearby Shimane Museum of Ancient Izumo,[1] also located in Taisha Machi, has artifacts from the site.
%p In 2009, a team of archaeologists announced that they likely discovered—at the Sunabara Remains in Taki-chō, Izumo City—the oldest stone tools ever found in Japan. The find totaled about 20 tools dating back an estimated 120,000 years: about 80,000 years earlier than previous estimates of when the first humans arrived in the Japanese archipelago. The stones were found directly across Route 9 from Kirara Taki beach on the Sea of Japan. The excavation team was led by Doshisha University professor Kazuto Matsufuji, and the first of the tools were unearthed by Toshiro Naruse, a professor emeritus at Hyogo University of Teacher Education.
%p In Izumo, there are various tombs and temples, including an ancient cluster of tombs to the south of the station. Within this tomb cluster is located the largest Tumulus style tomb within the Izumo region. With an overall length of 100 metres and mound 6 metres in height, the tomb located behind the Dainenji Temple is believed to have been constructed in the 6th century with highly sophisticated construction methods for the time.
%p The Takase River is a canal that runs through the center of Izumo. Beginning at the Hiikawa River, the canal runs directly across the town. Constructed by developer Okaji Shichibei in 1670, the Takase was the first canal ever constructed in the then-Matsue domain. Before Okaji began his agricultural developments, the Izumo area was infertile and unable to support crops. Thanks to Okaji's developments, the area became an important region for the growing of rice and grain in the Matsue area.[4]
%p Izumo Dome is a venue located just north of the city proper. It has the distinction of being Japan's largest wooden building, at 49 metres high and 143 metres in diameter. It is used for sports and events such as baseball games and soccer matches, as well as for other events including sumo. It is a prominent symbol of Izumo, and can be seen from a distance from the train passing towards Hamada.
%p Hinomisaki Lighthouse (日御碕灯台, Hinomisaki tōdai) is a modern stone lighthouse with a powerful lamp. From the tower, one can see the Oki Islands, from where the story of the "white rabbit" comes.
%p Shimane Winery[5] is known for its super-sweet wines.
%p "Kirara Taki" Beach is located in Taki (多伎町), one of the towns merged into Izumo in 2005. The beach has clean water and off-shore stacks of concrete tetrapods to break the waves. Nearby is an onsen called Marine Thalasso Izumo.
%p The Okuizumo Museum of Tatara and Sword-making features demonstrations twice a month, switching off every two weeks: one demonstration shows smithing techniques, while the other is a usage demonstration.
%p The Izumo Handicraft Museum is set in a traditional Japanese workshop complex.
%strong Climate
%p Izumo has a humid subtropical climate (Köppen climate classification Cfa) with very warm summers and cool winters. Precipitation is abundant throughout the year. The average annual temperature in Izumo is 14.9 °C (58.8 °F). The average annual rainfall is 1,675.0 mm (65.94 in) with July as the wettest month. The temperatures are highest on average in August, at around 26.4 °C (79.5 °F), and lowest in February, at around 4.8 °C (40.6 °F).[6] The highest temperature ever recorded in Izumo was 38.4 °C (101.1 °F) on 6 August 2017; the coldest temperature ever recorded was −12.5 °C (9.5 °F) on 9 February 2018.[7]