
/ Header Start
.container-fluid.bg-light.my-6.mt-0{:style => "opacity: 0.7"}
  .container
    .row.align-items-center.justify-content-center
      .col-lg-6.py-6.pb-0.pt-lg-0
        .d-flex.align-items-center.justify-content-center
          %button.btn-play{"data-bs-target" => "#videoModal", "data-bs-toggle" => "modal", "data-src" => "https://www.youtube.com/watch?v=jM-aZvKzkhU&ab_channel=IzumoJAPAN", :type => "button"}
            %span
          %h5.ms-4.mb-0.d-none.d-sm-block
          / Header End
        %p
          %button{:onclick => "getLocation();", :type => "button"} Get coordinates
        %p
          Coordinates:
          %br/
          %span#demo
        %p
          Raw data:
          %br/
          %span#raw
      #map
      %br/
      %button#fly Fly
      
      = js_map [{latitude: 35.36047281488273, longitude: 132.7580566546712, label: 'You are here', tooltip: 'no'}], id: "Idzumo-city", width: '500px', height: '500px', controls: true

:javascript
  var x = document.getElementById("demo");
  var y = document.getElementById("raw");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
    var tmp = {}
    tmp['accuracy'] = position.coords['accuracy'];
    tmp['altitude'] = position.coords['altitude'];
    tmp['altitudeAccuracy'] = position.coords['altitudeAccuracy'];
    tmp['heading'] = position.coords['heading'];
    tmp['latitude'] = position.coords['latitude'];
    tmp['longitude'] = position.coords['longitude'];
    tmp['speed'] = position.coords['speed'];
    y.innerHTML = JSON.stringify(tmp, null, "<br />");
    
  }

:javascript
  // TO MAKE THE MAP APPEAR YOU MUST
  	// ADD YOUR ACCESS TOKEN FROM
  	// https://account.mapbox.com
  	mapboxgl.accessToken = ENV['MAPBOX_ACCESS_TOKEN'];
    const map = new mapboxgl.Map({
    container: 'map',
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: 'mapbox://styles/mapbox/streets-v12',
    center: [-74.5, 40],
    zoom: 4
    });
    
    document.getElementById('fly').addEventListener('click', () => {
    // Fly to a random location
    map.flyTo({
    center: [(Math.random() - 0.5) * 360, (Math.random() - 0.5) * 100],
    essential: true // this animation is considered essential with respect to prefers-reduced-motion
    });
    });

  