
/ Header Start
.container-fluid.bg-light.my-6.mt-0{:style => "opacity: 0.7"}
  .container
    .row.align-items-center.justify-content-center
      .col-lg-6.py-6.pb-0.pt-lg-0

        #map
        %button#fly Fly

:javascript
  var x = document.getElementById("demo");
  var y = document.getElementById("raw");

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
    var tmp = {}
    tmp['accuracy'] = position.coords['accuracy'];
    tmp['altitude'] = position.coords['altitude'];
    tmp['altitudeAccuracy'] = position.coords['altitudeAccuracy'];
    tmp['heading'] = position.coords['heading'];
    tmp['latitude'] = position.coords['latitude'];
    tmp['longitude'] = position.coords['longitude'];
    tmp['speed'] = position.coords['speed'];
    y.innerHTML = JSON.stringify(tmp, null, "<br />");
    
  }

:javascript
  // TO MAKE THE MAP APPEAR YOU MUST
  	// ADD YOUR ACCESS TOKEN FROM
  	// https://account.mapbox.com
  	mapboxgl.accessToken = "pk.eyJ1IjoiY2hpZWYtc3MiLCJhIjoiY2xndGVkNnp3MTV0bjNkbWtzc25sdDlodiJ9.IigjwyBzw-Z_FdBd3eW1tg";
    const map = new mapboxgl.Map({
    container: 'map',
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: 'mapbox://styles/mapbox/streets-v12',
    center: [-74.5, 40],
    zoom: 12
    });
    const latitude = 132.7563618
    const longitude = 35.3604771

    document.getElementById('fly').addEventListener('click', () => {
    // Fly to a random location
    map.flyTo({
    center: [latitude, longitude],
    essential: true // this animation is considered essential with respect to prefers-reduced-motion
    });
    });

  