- if current_user
  %h5 You are now logged in
  %a= button_to "Log out", destroy_user_session_path, method: :delete
  %p= link_to 'Create new tour'
  - if current_user.admin?
    = link_to 'Add new location'
- else
  %h5 Please log in
  %a= link_to "log in", new_user_session_path