@import "/public/assets/scss/variables";

.navigation {
  margin-top: 5%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    font-size: 25px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    color: inherit;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      opacity: 70%;
    }
  }
}