%h1 New tour

%flex-container{:style => "display: flex; justify-content: space-between"}
  .flex-item.item-1
    .col-md-6.col-sm-6.col-xs-6
      = render 'form'
    

  .flex-item.item-2


= link_to 'Back', tours_path