%h1 New tour

%flex-container{:style => "display: flex; justify-content: space-between"}
  .flex-item.item-1
    .short-description
      .container
        .row
          .col-md-6
            .product-thumbnail
              .col-md-10.col-sm-10.col-xs-10
                = render 'form'

  .flex-item.item-2
    here will be map

= link_to 'Back', tours_path