/*** Navbar ***/
.navbar.fixed-top {
  transition: .5s;
}

.navbar .navbar-nav .nav-link {
  padding: 20px 15px;
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link  {
      padding: 10px 0;
  }
}

.scase {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,dddddd+50,ffffff+51,ffffff+71,f6f8fb+100 */
  background: #f2f2f2;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f2f2f2 0%, #dddddd 50%, #ffffff 51%, #ffffff 71%, #f6f8fb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f2f2f2 0%,#dddddd 50%,#ffffff 51%,#ffffff 71%,#f6f8fb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f2f2f2 0%,#dddddd 50%,#ffffff 51%,#ffffff 71%,#f6f8fb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f6f8fb',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #3f345f !important;
  background-size: 400% 400%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
  border: medium none;
}
@-webkit-keyframes AnimationName {
  0%{
  background-position:0% 31%
  }
  50%{
  background-position:100% 70%
  }
  100%{
  background-position:0% 31%
  }
 }
@-moz-keyframes AnimationName {
  0%{
  background-position:0% 31%
  }
  50%{
  background-position:100% 70%
  }
  100%{
  background-position:0% 31%
  }
}
@keyframes AnimationName {
  0%{
  background-position:0% 31%
  }
  50%{
  background-position:100% 70%
  }
  100%{
  background-position:0% 31%
  }
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (max-width: 767px) {
  .share-img {
    width: 40%;
    border-right: 1px solid #dfd8d8; 
    margin-right: 5px;
  }
  .card .img-wrapper {
    height: 17em;
  }
  .share-name {
    display: none;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
@media (max-width: 467px) {
  .pr-btn {
    font-size: xx-small;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 380px) {
  .share-img {
    width: 40%;
    border-right: 1px solid #dfd8d8; 
    margin-right: 5px;
  }
  .pr-btn {
    font-size: xx-small;
    display: flex;
    justify-content: space-around;
  }
  .share-name {
    display: none;
  }
  .card {
    font-size: 0.8rem;
  }
}
.share-img {
  border: 1px solid #dfd8d8; 
  border-right: 0; 
  cursor: pointer; 
  padding: 1rem 0 1rem 2rem;
  margin-top: 7px;
  &:hover{
    background: rgba(73, 71, 71, 0.05);
  }
}
.share-name {
  margin-left: -10px;
}
.cuttedText {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.trunk{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}
.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.flex-container{
  display: flex;
  justify-content: space-between;
}

.item-1 {
  width: 50%;
}
.item-2{
  width: 45%;
}
.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: 5px;
}
.card img {
  max-height: 125px;
}
//MapBox
* {
    box-sizing: border-box;
  }
 .column {
    float: right;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 body { margin: 0; padding: 0; }
 #map { position: absolute; top: 0; bottom: 0; width: 40%; }
 /* .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
} */
.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}
#map {
    margin-top: 20%;
}
input {
    width: 100%;
}
.qr {
  position: absolute;
  left: 60%;
}
#favorite {
  cursor: pointer;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}
#favorite .fa-heart {
  cursor: pointer;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}
ul.product-info-btn {
  padding: 0px;
  margin: 20px 0px;
  list-style: none;
}
ul.product-info-btn li {
  display: inline-block;
}
ul.product-info-btn li a {
  padding: 10px;
  border-right: 2px solid #ebebeb;
  color: #6d6d6d;
}
ul.product-info-btn li a:hover {
  color: #323232;
}
ul.product-info-btn li:first-child a {
  padding-left: 0px;
}
ul.product-info-btn li:last-child a {
  border: none;
}
.favor:hover {
  color: white;
  background-color: lightgrey;
	cursor: pointer;
}
.favorshow {
  color: black !important;
  &:hover {
    color: lightgrey !important;
    cursor: pointer;
  }
}

/* картинка на странице */
.minimized {
  width: 18%;
  cursor: pointer;
  border: 1px solid #FFF;
}
.minimized:hover {
  border: 1px solid yellow;
}
/* увеличенная картинка */
#magnify {
  display: none;
  /* position: absolute; upd: 24.10.2016 */
  position: fixed;
  max-width: 600px;
  height: auto;
  z-index: 9999;
}
#magnify img {
  width: 100%;
}
/* затемняющий фон */
#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}
/* кнопка закрытия */
#close-popup {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #AFAFAF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}
@keyframes rota {
 25% { transform: rotate(360deg); }
}
#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.nav.nav-tabs {
  // background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;  
  margin: 0px 15px 30px;
  overflow: hidden;
  font-family: 'raleway', sans-serif;
}
.nav.nav-tabs li.active a {
  // background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  color: black;
  border: none;
  border-radius: 0px;
}
.nav.nav-tabs li a {
  color: black;
  border: none;
  border-radius: 0px;
  padding: 10px 20px;
}
.nav.nav-tabs li:hover a {
  border: 0px;
  background: repeating-radial-gradient(black, transparent 100px);
  color: #fff;
}
.nav.nav-tabs li.collection-url a {
  font-size: 10pt;
  padding: 11px;
}

#qr {
  height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: none;
}